* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

:root {
  --primary: #627AF4;
  --secondary: #0000ff;
  --darkgrey: #1F1F1F;
  --lightgrey: #C9C9C9;
}

html {
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #D8E0FF;
}

::-moz-selection {
  background: #D8E0FF;
}

p, h1, h2, h3, h4, h5, h6, a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--darkgrey);
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.app-wrapper {
  display: flex;
  width: 100%;
  min-width: 1400px;
  max-width: 2000px;
  margin: auto;
}
